@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

/* nav */
.nv img{
    height: 40px;
    border-radius: 50px;
}

/* hero */

.ramdhani{
    color: #7E74F1;
}

.hero {
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero h1 {
    font-size: 3rem;
}

.hero img{
    padding-top: 50px;
}

.hero .bg-icon-ig{
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    transition: 0.3s ease;
}

.hero .icon-wa{
    color:  #25D366;
    transition: 0.3s ease;
}

.hero .icon-email{
    transition: 0.3s ease;
}

.hero .bg-icon-ig:hover,
.hero .icon-wa:hover,
.hero .icon-email:hover
{
    transform: scale(1.2);
}

/* About */
.about{
    text-align: center;
    padding: 50px;
    margin-bottom: 200px;
    background-color: rgb(250, 248, 248);
}

.about h1{
    font-family: "Playfair Display", serif;
}

.about p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    width: auto;
}

/* Footer */
.footer {
    padding: 20px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e5e7eb;
}

.footer p,
.footer small {
    margin: 0;
}

footer {
    margin-top: auto;
}


/* RESPONSIVE */
@media (max-width: 991px){
    .navbar ul {
        margin-top: 20px;
    }

    .navbar li{
        text-align: center;
    }

    /* about */
    .about .text{
        margin-top: 20px;
    }

    .about img{
        margin-bottom: 20px;
    }

    .about h1{
        margin-bottom: 30px;
    }
}

@media (max-width: 767px){
    /* nav */
    .navbar-brand{
        padding-left: 16px;
    }

    /* hero */
    .hero .tes{
        text-align: center;
    }

    .hero h1{
        font-size: 2rem;
    }

    .hero img{
        margin-top: 50px;
        padding-top: 0;
    }

    .hero .icons{
        justify-content: center;
    }

    .hero .icons h3{
        font-size: 28px;
    }

    /* About */
    .about{
        margin-top: 150px;
        padding: 50px 0;
    }

    .about h1{
        font-size: 35px;
    }

    .about p{
        
    }

}